<div class="containerFooter">
  <div class="browseContainer">
    <h3 class="title3">Browse By Name</h3>

    <div class="browseLetters">
      abcd
    </div>
  </div>

  <div class="containerFooterCopyRight">
    <div class="footerCopyRight">
      <div class="copy">
        <h3 class="title4">
          © 2023 TheCocktailDB.Proudly <br>
          built in the UK
        </h3>
      </div>
      <div class="navFooter">
        <nav>
          <ul class="nav">
            <li><a href="#">Missing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
