header{
  display: flex;
  width: 100%;
  /* centrado horizontal */
  justify-content: center;
  /* centrado vertical */
  align-items: center;
  transition: all 300ms ease-in;
  background: orange;
  padding: 10px 0px;
  section.headerContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* centrado horizontal */
    align-items: center;
    /* centrado vertical */
    justify-content: center;
    //margin-top: 20px 0px;
    background: yellow;
    position: relative;
    .containerLogo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background: red;
      a{
        display: flex;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        img{
          //width: 70%;
          //position: absolute;
          //bottom: 0;
          //left: 0;
          width: 100%;
          object-fit: cover;
          transition: 0.5s ease-in-out;
          //transform-origin: bottom;
        }
      }


    }

    .containerMenu{
      display: none;
    }

    .search-box{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      background: green;
      .search{
        display: flex;
        width: 85%;
        height: 25px;
        background: #fff;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: hidden;
        button.search-button{
          display: flex;
          padding: 5px;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          transition: all 300ms ease;
          border-radius: 50%;
          border: none;
          background: transparent;
          color: var(--primary-color);
          &:hover{
            background: var(--primary-color);
            color: #fff;
          }
          i{
            font-size: 20px;
            font-weight: 800;
          }
        }
        input.search-text{
          border: none;
          flex: 1;
          height: 30px;
          outline: none;
          font-size: 20px;
          color: var(--font-color);
          padding-left: 5px;

        }
      }
    }

    button.toggle_btn{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 60px;
      height: 50px;
      border: none;
      padding: 10px;
      //background: transparent;
      position: absolute;
      background: yellowgreen;
      gap: .65rem;
      top: 25px;
      right: 20px;
      //display: block;
      //position: absolute;
      /* top: 20px;
      right: 20px;
      color: var(--font-color);*/
      cursor: pointer;
      div{
        background: var(--font-color);
        height: 3px;
        width: 100%;
        border-radius: 25px;
        transition: all .5s;
        //transform-origin: left;
      }
      div:first-child{
        &.active{
          transform: rotate(45deg);
          background: var(--primary-color);
          transform-origin: left;
        }
      }
      div:nth-child(2){
        &.active{
          opacity: 0;
        }
      }
      div:last-child{
        &.active{
          transform: rotate(-45deg);
          background: var(--primary-color);
          transform-origin: left;
        }
      }
    }
  }
}
