header{
  display: flex;
  width: 100%;
  /* centrado horizontal */
  justify-content: center;
  /* centrado vertical */
  align-items: center;
  transition: all 300ms ease-in;
  //background: orange;
  padding: 10px 0px;
  //border-bottom: solid 0.5px #574747;
  section.headerContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* centrado horizontal */
    align-items: center;
    /* centrado vertical */
    justify-content: center;
    //margin-top: 20px 0px;
    //background: yellow;
    position: relative;
    .containerLogo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      //background: red;
      a{
        display: flex;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        img{
          //width: 70%;
          //position: absolute;
          //bottom: 0;
          //left: 0;
          width: 100%;
          object-fit: cover;
          transition: 0.5s ease-in-out;
          //transform-origin: bottom;
        }
      }


    }

    .containerMenu{
      display: none;
    }

    .search-box{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      //background: green;
      .search{
        display: flex;
        width: 70%;
        height: 25px;
        background: #fff;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: hidden;
        button.search-button{
          display: flex;
          padding: 5px;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          transition: all 300ms ease;
          border-radius: 50%;
          border: none;
          background: transparent;
          color: var(--primary-color);
          &:hover{
            background: var(--primary-color);
            color: #fff;
          }
          i{
            font-size: 20px;
            font-weight: 800;
          }
        }
        input.search-text{
          border: none;
          flex: 1;
          height: 30px;
          outline: none;
          font-size: 20px;
          color: var(--font-color);
          padding-left: 5px;

        }
      }
      .bxBookmark{
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        img{
          width: 30%;
          object-fit: cover;
          transition: 0.5s ease-in-out;
        }
      }
    }

    button.toggle_btn{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 60px;
      height: 50px;
      border: none;
      padding: 10px;
      background: transparent;
      position: absolute;
      //background: yellowgreen;
      gap: .65rem;
      top: 25px;
      right: 20px;
      //display: block;
      //position: absolute;
      /* top: 20px;
      right: 20px;
      color: var(--font-color);*/
      cursor: pointer;
      div{
        background: var(--font-color);
        height: 3px;
        width: 100%;
        border-radius: 25px;
        transition: all .5s;
        //transform-origin: left;
      }
      div:first-child{
        &.active{
          transform: rotate(45deg);
          background: var(--primary-color);
          transform-origin: left;
        }
      }
      div:nth-child(2){
        &.active{
          opacity: 0;
        }
      }
      div:last-child{
        &.active{
          transform: rotate(-45deg);
          background: var(--primary-color);
          transform-origin: left;
        }
      }
    }
  }
}

@media screen and (min-width: 900px){
  header{
    padding: 50px 0px;
    section.headerContent{
      //background: orange;
      flex-direction: row;
      max-width: 1300px;
      .containerLogo{
        width: 20%;
        //background: yellowgreen;
        a{
          justify-content: center;
          align-items: center;
          text-align: center;
          img{
            width: 85%;
          }
        }
      }

      .containerMenu{
        display: flex;
        //background: red;
        position: relative;
        width: 60%;
        justify-content: flex-start;
        translate: (0px 0px);
        transition: all 300ms ease-in-out;
        nav{
          display: flex;
          width: 100%;
          //height: 0px;
          justify-content: flex-start;
          padding: 5px;
          align-items: center;
          transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
          ul.nav{
            position: relative;
            display: flex;
            flex-direction: row;
            li{
              list-style: none;
              a{
                display: inline-block;
                color: var(--font-color);
                font-family: var(--font-family);
                text-decoration: none;
                padding: 15px 30px;
                font-size: 18px;
                font-weight: 100;
                &::before{
                  position: absolute;
                  content: '';
                  width: 0px;
                  height: 3px;
                  background: var(--alternative-color);
                  bottom: 0;
                  border-radius: 4px;
                  transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);

                }
                &:hover::before{
                  width: 40px;
                }
                &:hover{
                  font-weight: 800;
                }
              }
            }
          }
        }
      }

      .search-box{
        width: 20%;
        padding: 0px;
        //background: pink;

        .search{
          input.search-text{
            width: 80%;
          }
        }
        .bxBookmark{
          img{
            width: 50%;

          }
        }
      }

      button.toggle_btn{
        display: none;
      }
    }
  }
}
