<header>

  <section class="headerContent">

    <div data-aos="zoom-in-up"
        data-aos-duration="1900"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine" class="containerLogo">
      <a href="#">
        <img src="assets/img/logo/Logo.png" alt="">
      </a>
    </div>

    <div class="containerMenu" [class.active]="showDropDownMenu">
      <nav [class.active]="showDropDownMenu">
        <ul class="nav">
          <li><a href="#">Menu</a></li>
          <li><a href="#">Rewards</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>
    </div>

    <div class="search-box">

      <div class="search">
        <button class="search-button">
          <i class="pi pi-search"></i>
        </button>
        <input type="text" class="search-text" placeholder="Search">
      </div>

      <div class="bxBookmark">
        <img src="assets/img/ilustraciones/bookmarks.png" alt="">
      </div>

    </div>

    <button class="toggle_btn" (click)="toggleDropDownMenu()">
      <div [class.active]="showDropDownMenu"></div>
      <div [class.active]="showDropDownMenu"></div>
      <div [class.active]="showDropDownMenu"></div>
    </button>

  </section>

</header>
