<div class="containerComponent">
  <app-banner-landing></app-banner-landing>
</div>

<div class="containerComponent2">
  <app-popular-drinks></app-popular-drinks>
</div>

<!-- <div class="popularDrinksContainer">
  <app-popular-drinks></app-popular-drinks>
</div> -->

<!-- <app-banner-landing></app-banner-landing> -->

<!-- <app-popular-drinks></app-popular-drinks> -->

<!-- <div class="container">
  <div class="banner">
    <app-banner-landing></app-banner-landing>
  </div>
  <div class="popularDrinksContainer">
    <app-popular-drinks></app-popular-drinks>
  </div>
  <div class="latestDrinksContainer">
    <app-latest-drinks></app-latest-drinks>
  </div>
</div> -->
